--acronyms ID,URL,UUID
--allman false
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas inline
--conflictmarkers reject
--decimalgrouping 3,5
--elseposition same-line
--emptybraces spaced
--enumnamespaces structs-only
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--generictypes 
--groupedextension "MARK: %c"
--guardelse auto
--header "// {file}\n// Copyright © {year} Kaleb A. Ascevich\n//\n// This app is free software: you can redistribute it and/or modify it\n// under the terms of the GNU General Public License as published by the\n// Free Software Foundation, either version 3 of the License, or (at your\n// option) any later version.\n//\n// This app is distributed in the hope that it will be useful, but WITHOUT\n// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or\n// FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License\n// for more details.\n//\n// You should have received a copy of the GNU General Public License along\n// with this app. If not, see https://www.gnu.org/licenses/."
--hexgrouping none
--hexliteralcase lowercase
--ifdef no-indent
--importgrouping testable-last
--indent 4
--indentcase true
--indentstrings false
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories true
--markextensions always
--marktypes always
--maxwidth none
--modifierorder 
--nevertrailing 
--nospaceoperators 
--nowrapoperators ...,..<
--octalgrouping none
--operatorfunc spaced
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges no-space
--redundanttype infer-locals-only
--self init-only
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someAny true
--stripunusedargs always
--structthreshold 0
--tabwidth 4
--throwcapturing 
--trailingclosures 
--trimwhitespace nonblank-lines
--typeattributes preserve
--typeblanklines remove
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections before-first
--wrapconditions after-first
--wrapeffects preserve
--wrapenumcases with-values
--wrapparameters before-first
--wrapreturntype preserve
--wrapternary default
--wraptypealiases preserve
--xcodeindentation enabled
--yodaswap always
--disable consecutiveSpaces,fileHeader,redundantNilInit,sortDeclarations
--enable acronyms,blankLineAfterImports,blankLinesBetweenImports,blockComments,docComments,isEmpty
